/*-------------------------------------(start)NAVBAR css ----------------------------------*/
 
.container {         /* container of navigation bar, bs containers are padded, need to remove them*/
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    background-color:#f2f4f5;  /*nav background color */
    padding-top:0px; 
 }

 .container_0{
     /* background-color: transparent; */
     background-color: #343346;
     padding: 0px 0px;
     margin-top:7px;
     line-height:26px;
 }

 .container_nav{                    
     /* border: 5px dotted red; */    /* nav margin-top push up whitespace */
     margin-top: -5px;
 }
 
  #free_deliv_font{          /*"Free delivery font", first row */
     color: white;
     font-size: small;
     font-family: 'Montserrat', sans-serif;
     text-align: center;
 }


.logo_image{                /* cake image */
    height:44px;
    width:44px;
    position: relative;
    left: 15px;    
}

.company_logo{              /* div that wraps around company logo and name */
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    padding:2px;
/*  margin-left:auto;
    margin-right:auto; */   /* if logo wants to be centered */
}

.appeaseofcake_font{        /* font "appeaseofcake" <h6> */
    position: relative;
    left: 0px;
    top: 8px;
    color:#fa2871;
    font-size: 22px;
    font-family: 'PT Mono', monospace;
    letter-spacing: 3px;
           
}

ul > li{                    /*remove dot from listed items*/
    list-style-type: none;
    
}

ul > li >a{                 /*change font for <li> items*/
    color: grey;    
    font-size: 16px;
    font-family: 'PT Mono', monospace;
    padding-right: 3px;
    margin-left: 20px;
}

body {
    height: 100%;
    width: 100%;
}
/*-------------------------------------(end)NAVBAR css ----------------------------------*/
/*-------------------------------------(start)Cards css ----------------------------------*/
.container_caketitle{       
    background:white;
    margin-top: 20px;   
    position: relative;
    text-align:center;
}

h3{
    color: #343346;
}

#container_products{
    background-color:white;
    margin-top:20px;
}

.product-description {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-weight:bold;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.indi-product{
    margin-top:-10px;
}


.product-price {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-container .product-hvr{
    position:relative;
    width: 355px;
    height:355px;
    /* background:pink; */
    margin: 15px 10px 10px 10px;
    box-sizing: border-box;
    display: inline-block;
}

.product-container .product-hvr .product{
    position: relative;
    overflow: hidden;
}

.product-container .product-hvr .product img{
    object-fit: cover; 
    min-width: 100% !important;   
    height: 355px !important; 
    transition: transform 1.2s;
}

.product-container .product-hvr:hover .product img{
    transform: scale(1.2);
}

.product-container .product-hvr .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.8);
    transform: scaleY(0);
    transition:transform 1s;
}

.product-container .product-hvr:hover .details{
    transform: scaleY(1);
}

.product-container .product-hvr .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: white;
}

.product-container .product-hvr .details .content h5{
    color: orange;
}

.container .product-container .indi-product {
    margin-bottom: 30px;
}

.container .product-container .indi-product p {
    margin: 0%;
}

/*-------------------------------------(end)Cards css ----------------------------------*/

/*-------------------------------------(start)Media queries for Navbar----------------------------------*/

/* media queries */
@media screen and (min-width: 768px){     /*Hide button when screen > 992px*/
    .navbar_toggler{
        visibility:hidden;
    }
}

@media screen and (max-width: 1199px){
    ul > li >a{                     
        font-size: 15px;
        padding-right: 9px;
    }

    .appeaseofcake_font{        
        top: 8px;
        font-size: 22px;
    }

    .logo_image{                
        height:43px;
        width:43px;  
    }
}

@media screen and (max-width: 994px){
    ul > li >a{                     
        font-size: 13px;
        padding-right: 8px;
    }

    .appeaseofcake_font{        
        top: 8px;
        font-size: 20px;
    }

    .logo_image{                
        height:41px;
        width:41px;  
    }
}

@media screen and (max-width: 961px){
    ul > li >a{                     
        font-size: 12px;
        padding-right: 2px;
    }

    .appeaseofcake_font{        
        top: 8px;
        font-size: 18px;
    }

    .logo_image{                
        height:39px;
        width:39px;  
    }
}

@media screen and (max-width: 768px){
    ul > li >a{                     
        font-size: 12px;
        padding-right: 2px;
    }

    .appeaseofcake_font{        
        top: 8px;
        font-size: 25px; 
    }

    .logo_image{                
        margin-left: 0px;
        height:42px;
        width: 42px; 
    }
}

@media screen and (max-width: 574px){
    .appeaseofcake_font{        
        top: 8px;
        font-size: 27px; 
    }

    .logo_image{                
        margin-left: 0px;
        height:43px;
        width: 43px; 
    }
}

@media screen and (max-width: 526px){
    .appeaseofcake_font{        
        top: 8px;
        font-size: 26px; 
    }

    .logo_image{                
        margin-left: 0px;
        height:42px;
        width: 42px; 
    }
}

@media screen and (max-width: 451px){
    .appeaseofcake_font{        
        top: 8px;
        font-size: 24px; 
    }

    .logo_image{                
        margin-left: 0px;
        height:41px;
        width: 41px; 
    }
}

@media screen and (max-width: 412px){
    .appeaseofcake_font{        
        top: 8px;
        font-size: 24px;
        letter-spacing:2px; 
    }

    .logo_image{                
        margin-left: 0px;
        height:40px;
        width: 40px; 
    }
}

@media screen and (max-width: 388px){
    .appeaseofcake_font{        
        top: 8px;
        font-size: 22px;
        letter-spacing:2px; 
    }

    .logo_image{                
        height:39px;
        width: 39px; 
    }
}

@media screen and (max-width: 349px){
    .appeaseofcake_font{        
        top: 8px;
        font-size: 20px;
        letter-spacing:2px; 
    }

    .logo_image{                
        height:39px;
        width: 39px; 
    }
}

@media screen and (max-width: 331px){
    .appeaseofcake_font{        
        font-size: 0px;
    }

    .logo_image{                
        height:41px;
        width: 41px; 
    }
}
/*-------------------------------------(end) Media queries for Navbar----------------------------------*/

.logo1{                                             /* footer cake logo adjust width/height */
    width: 128px;
    height: 115px;
}

#f2020_2021{
    font-size: 9px;
    letter-spacing: 0.2em;
    position: relative;
    left: 28px;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

#content_box{                                               /* footer cake logo adjust position */
    margin:0px;
    /* border:5px dotted blue; */
    position: relative;
    left: 75px;
    top: 20px;
}

.listed_item1, .listed_item2, .listed_item3{                /* WRITE TO US/ LOCATE US/ FOLLOW US (start) */
    position: relative;
    left: -15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 0.09em ;
    color: white;
}

.writetous_font_footer{                                      /*  WRITE TO US (GMAIL) */
    top: -4px;
}

.writetous_font_footer1{                                     /*  WRITE TO US (HP NO.) */
    top: 2.5px;
}

.writetous_font_footer, .writetous_font_footer1{             /*  WRITE TO US (GMAIL) */  /*  WRITE TO US (HP NO.) */
    font-size: 13.5px;
    letter-spacing: 0.095em;
    position: relative;
    color: white;
    font-family: 'Montserrat', sans-serif;
    left: -36px;
}

.writetous_font_footer:hover, .writetous_font_footer1:hover, .writetous_font_footer2:hover{
    color:hotpink;                                      /*  WRITE TO US (GMAIL), (HP NO.), CONTACT US, WHO WE ARE: HOVER */
    text-decoration: none;
    font-weight:bolder;
}

.writetous_font_footer2{                                  /* WRITE TO US (contact us/abt us) */
    font-size: 12.5px;
    letter-spacing: 0.15em;
    font-family: 'Comfortaa', cursive;
    position: relative;
    top: 9px;
    font-weight: bold;
    color: white;
    left: -36px;
}

/*  WRITE TO US (end) */

/*  LOCATE US (start) */

#location_font_footer, .address_font_footer, #op_hours_footer{/* LOCATE US (Glocal Connect Village),(43 Tampines Ave 1),(Bold 10-6pm Daily) */
    letter-spacing: 0.1em;
    font-family: 'Comfortaa', cursive;
    position: relative;
    color: white;
    left: -15px;
    top: 1px;
}

#location_font_footer{          /* LOCATE US (Glocal Connect Village) */
    font-size: 13.2px;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.address_font_footer{           /* LOCATE US (43 Tampines Ave 1) */         
    font-size: 11.1px;
    letter-spacing: 0.15em;
}

#op_hours_footer{               /* LOCATE US (\Bold 10-6pm Daily) */
    font-size: 10.5px;
    letter-spacing: 0.1em;
}

/*  LOCATE US (end) */

/*  FOLLOW US (start) */

.fa-facebook, .fa-twitter, .fa-instagram, .fa-linkedin{
    color:white;
    position: relative;
}

.fa-facebook:hover{
    color: #4267B2;
    transform: rotate(35deg);
    transition: 500ms ease-in-out all;
}

.fa-twitter:hover{
    color: #1DA1F2;
    transform: rotate(35deg);
    transition: 500ms ease-in-out all;
}

.fa-instagram:hover{
    color:hotpink;
    transform: rotate(35deg);
    transition: 500ms ease-in-out all;
}

.fa-linkedin:hover{
    color:#0072b1;  
    transform: rotate(35deg);
    transition: 500ms ease-in-out all;          
}

.fa-facebook{
    right: 35px;
}

.fa-twitter{
    right: 25px;
}

.fa-instagram{
    right: 15px;
}

.fa-linkedin{
    right: 5px;
}

/*  FOLLOW US (end) */

hr{                                /*WRITE TO US, LOCATE US, SOCIAL MEDIA (UNDERLINE)*/ 
    margin: 0rem 1rem 1rem 2rem;
    border-color: grey;
    position: relative;
    left: -50px;
}

/************************************** copyright (start)**************************************/

.container_copyright{
    /* border: 5px dotted blue;  */
    /* background-color: #343346; */
    background-color: black;
    padding: 1px;
}

#copyright{
    text-align: center;
    font-size: 9.7px;
    color: white;
    letter-spacing: 0.2em;
    font-family: 'Montserrat', sans-serif;
    line-height: center;
    position: relative;
    top: 9px;
}
/***************************************** copyright (end)***************************************/

/*----------------------------------------------(end) Footer------------------------------------*/

/*------------------------------------(start) adjust footer padding ----------------------------*/
.footer-container-1{                            
    /* border: 2px solid blue; */              /*To adjust padding of footer*/
    padding-top:25px;
    padding-bottom:70px;
}

.footer-container{
    background-color:#252B34;                /*background color for footer*/
}

/*-----------------------------------(start) adjust footer padding ------------------------------*/


/*-------------------------------- Footer Button (Back to top) starts here ----------------------*/

.container_backtotop{
    background-color:#252B34;
    text-align: center;
    padding-bottom: 58px;
}

/*----------------------------- Footer Button (Back to top) ends here ---------------------------*/
