<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
<!--------------------------------------- Ending credits starts here --------------------------------------->

<div th:fragment="footer" class="container-fluid footer-container">
    <footer class="border-top footer-container-1">
        <div class="row pt-5 pb-2 footer-container-row adjust-footer">
            <!--Adjust padding-->

            <div id="content_box" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <img class="logo1" src="/images/logo1.png" alt="footer cake logo">
                <p id="f2020_2021">&copy; 2020-2021</p>
            </div>

            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                <h5 class="listed_item1">WRITE TO US</h5>
                <hr>
                <ul class="list-unstyled text-small">
                    <li><a class="writetous_font_footer"
                           href="mailto:appeaseofcake@gmail.com">appeaseofcake@gmail.com</a></li>
                    <li><a class="writetous_font_footer1" href="tel:+6598336093">(HP)+65 98336093</a></li>
                    <li><a class="writetous_font_footer2" href="contact_us.html">Contact us</a></li>
                    <li><a class="writetous_font_footer2 " href="about_us.html">Who we are</a></li>
                </ul>
            </div>

            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                <h5 class="listed_item2">LOCATE US</h5>
                <hr>
                <h6 id="location_font_footer">Glocal Connect Village</h6>
                <p class="address_font_footer"><a href="https://goo.gl/maps/WuzjB8UoCm2fUPEf7"
                                                  style="color:white">43 Tampines Ave 1, <br>Singapore 529762</a></p>

                <p id="op_hours_footer">Opens from <strong>10 - 6pm Daily</strong> ,
                    <br> By Appointment Only
                </p>
            </div>

            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                <h5 class="listed_item3">FOLLOW US</h5>
                <hr>
                <ul class="list-unstyled ">
                    <li><a class="facebook" href="https://www.facebook.com/"><i
                            class="fa fa-facebook fa mb-2"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/home"><i class="fa fa-twitter fa mb-2"></i></a>
                    </li>
                    <li><a class="instagram" href="https://www.instagram.com/"><i
                            class="fa fa-instagram fa mb-2"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/feed/"><i
                            class="fa fa-linkedin fa"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-------------------------------- Ending credits ends here -------------------------------->

    <!-------------------------------- Button (Back to top) starts here ---------------------------->
    <div class="container-fluid container_backtotop" style="overflow-y: hidden;" >
        <div class="row">
            <div class="col-12">
                <!-- <a href="#free_deliv_font"><p>Back to top</p></a> -->
                <button onclick="window.location.href='#free_deliv_font'" type="button"
                        class="btn btn-outline-secondary btn-sm rounded-0 top_button">Back to top
                </button>
            </div>
        </div>
    </div>
    <!-------------------------------- Button (Back to top) ends here ------------------------------->

    <!-------------------------------- copyright footer starts here --------------------------------->
    <div class="container-fluid container_copyright">
        <div id="copyright" class="col-12">
            <p id="copyright_appeaseofcake">© 2020 APPEASEOFCAKE. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</div>
<!---------------------------- copyright footer ends here ---------------------------------------->


</body>
</html>