<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!----------------------------------------------------- Bootstrap CSS -------------------------------------------------------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Gooogle fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
    <!--Animate on scroll-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!--Font Awesome CDN-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--load all styles -->
    <!-- stylesheet main_page -->
    <link rel="stylesheet" type="text/css" href="/css/admin.css" media="screen" />
    <title>APPEASEOFCAKE</title>
</head>
<body>
<!-- <header> -->
<!-------------------------------------------------- Free Delivery (starts) here ------------------------------------------------>
<div th:insert="fragments/h.html :: header"></div>
<!---------------------------------- navbar ends here -------------------------------------->



<!------------------------------------- 4th row starts here --------------------------------->

<!------------------------------------- 4th row ends here ------------------------------------>

<!------------------------------------- 5th row starts here ---------------------------------->

<div class="container container_ultimatesanctuary mt-5" data-aos="fade-up">
    <div class="row row_lorem">
        <div class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 col_lorem">
            <p id="lorem_font">
                APPEASEOFCAKE <br> Administration Page
            </p>
        </div>
    </div>
</div>

<!------------------------------------- 5th row ends here ------------------------------------>
<!------------------------------------ 6th row starts here (aos) ----------------------------->

<main class="container-fluid container_aos">
    <section class="card" data-aos="fade-up-right">
        <img id="aos_img" src="images/cakes_images/user-management-icon.jpg"  style="border: 3px solid #343346";alt="fresh pink marbled cake with macarons"><div>
            <h3 id="big_font">Users Management</h3>
            <p id="small_font">
                Manage current user's database.
            </p>
            <a id="button_font" href="/every-users" class="btn">Click Here to Manage</a>
        </div>
    </section>

    <section class="card" data-aos="fade-up-left">
        <img id="aos_chocolate_cake" src="images/cakes_images/heritage_chocolate_cake_crop_500x500.jpg" style="border: 3px solid #343346"; alt="vanilla cake with chocolate drizzle">
        <div>
            <h3 id="big_font">Products Management</h3>
            <p id="small_font">
                Add new products. <br>
                Edit/Delete existing products.

            </p>
            <a id="button_font" href="/product" class="btn">Click Here to Add New Products</a>
            <a id="button_font" href="/every-products" class="btn">Click Here to Delete/Edit Existing Products</a>
        </div>
    </section>
</main>

<!------------------------------------- 6th row ends here (aos) --------------------------------->
<!-------------------------------- Ending credits starts here -------------------------------->
<div th:insert="fragments/footer.html :: footer"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!---------- Javascript aos --------->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 200,
        duration: 1200
    });
</script>

<!---------- Javascript --------->
<script src="js/main_page.js"></script>
</body>

</html>